html{
  scroll-behavior:smooth;
  scroll-padding-top: 100px;
}
body{
  position: relative;
  width: calc(100%/12*12);
 
}



main{
  height: auto;
  width: calc(100%/12*12);
}





.wrapper{
  width: calc(100%/12*12);
  font-family: "Open Sans";
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px 0px;
} 

.photo-card1,.photo-card2, .photo-card3, .photo-card4 {
  width: 200px;
  height: 300px;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
}
.photo-card1{
  background: url("./components/img/w1.jpg") center no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
}
.photo-card2{
  background: url("./components/img/w2.jpg") center no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
}
.photo-card3{
  background: url("./components/img/w3.jpg") center no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
}
.photo-card4{
  background: url("./components/img/w4.jpg") center no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
}
.icon{
  width: 20px;
  height: 20px;
  margin: 10px;
}.crew-wrapper{
  padding: 30px 0px;
}
.info-card{
  background-color: rgb(226, 214, 214, 0.8);
  width: 160px;
  height: 50px;
  position: absolute;
  bottom: 20px;
  padding: 10px;
  display: none;

}
.photo-card1:hover .info-card{
  display: block;
}
.photo-card2:hover .info-card{
  display: block;
}
.photo-card3:hover .info-card{
  display: block;
}
.photo-card4:hover .info-card{
  display: block;
}
.link-block a{
  margin: 0;
  padding: 0;
}
h6{
  padding: 0;
  margin: 0;
  font-size: 20px;
  margin-left: 10px;
}
.card-crew{
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.wrapper h3{
  font-size: 25px;
  text-transform: uppercase;
  padding: 10px;
}
.wrapper h5{
  font-size: 20px;
  padding: 10px 0px;

}



.divider{
  
  height: 400px;
  background: url("./components/img/green-leaf.jpg")center no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 40px 25px;
}
.white-back{
  background-color: rgb(255, 255, 255, 0.5);
  font-family: "Open Sans";
  border-radius: 5px;
  width: calc(100%/12*6);
  padding: 15px;

}
.whitebookbtn{
  width: 200px;
  height: 45px;
  background-color:rgb(181,138,139) ;
  color: rgba(240,234,234,255);
  font-weight: 900;
  border: solid rgba(240,234,234,255) 3px;
  border-color: rgba(240,234,234,255);
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
  font-size: 20px;
}
.story-block{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  background: url("./components/img/beauty-portrait-smiling.jpg")center no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30px;
}
.white-backgr{
  background-color: rgba(226,214,214, 0.4);
  border-radius: 5px;
  padding: 20px;
}
.text-story{
  font-size: 13px;
  font-family: "Open Sans";
}

